/* NAV */

nav #meniuPrincipal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: inherit;
    background-color: #f1f1f1;
    overflow:hidden;
}

nav{
    
    background-color:aliceblue;
}

#mareTitlu {
    padding: 20px;
    background-image: url(../Poze/title_gradient.jpg);
    text-align:left;
    font: bold  40px Cursive;
}

ul#meniuPrincipal li{
    display: inline;
    float: left;
}


nav img
{
    height: 130px;
    display: block;
    position:absolute;
    right: 30px; 
    top: 10px;
}

.itemMenu {
    font-size: 20px;
    display: block;
    color: darkblue;
    padding-left: 20px;
    padding: 10px 16px;
    text-decoration: none;
}

.dropDown{
    position: relative;
    display:inline-block;
    float: left;
}

.menuLink{
    color: darkblue;
    text-decoration:    none;
}

.itemMenu:hover {
    background-color: #0044ff;
    color: navajowhite;
    
    
}

.itemMenu:hover .menuLink{
    color:antiquewhite;
}


.dropDownContent{
    display:none;
    position: absolute;
    left: auto;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}


a.dropDown:hover .dropDownContent{
    display: block;
}


/* END OF NAV */

body {
    background: top right no-repeat;
    background-image: url(../Poze/red_gradient.png);
    background-attachment:fixed;
    
}


/* GALERIE */

figure {
    display: block;
    padding: 70px;;
}

.chooseWeapone {
    height: 200px;
    display: block;
    margin: 20px;
    width: auto;
}

figcaption {
    display: inline-block;
    color: floralwhite;
    vertical-align: top;
    text-align: center;
}

.poza {
    border: 1px solid darkgrey;
    display: block;
    
    height: 300px;
    margin: 30px;
    
    padding: 40px;
    float: left;
    background-color: blueviolet;
}

.poza:hover .chooseWeapone{
    height: 215px;
    width: auto;
    
}
/* HALP MATERIAL */


/* PUI */
#facePui {
    float: left;
    display: block;
    position: relative;
}

.puiDeDinte {
    margin: 5px;
}

/* MEDIA SHEET */
@media only screen and (max-width: 1000px) {
    body {
        background-image: url();
        background-color: mediumpurple;
    }
}

#bibliografie {
    
    border: 1px solid beige ;
    background-color: darkorchid;
    color:bisque;
    width: 60%;
}
