nav #meniuPrincipal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: inherit;
    background-color: #f1f1f1;
    overflow:hidden;
}

nav{
    
    background-color:aliceblue;
}

#mareTitlu {
    padding: 20px;
    background-image: url(Poze/title_gradient.jpg);
    text-align: center;
    font: bold italic 40px Cursive, serif;
}

ul#meniuPrincipal li{
    display: inline;
    float: left;
}


nav img
{
    height: 130px;
    display: block;
    position:absolute;
    right: 30px; 
    top: 10px;
}

    /* END OF NAV STUFF*/

body {
    background-image: url(Poze/purpleish_gradient.svg);
    background-position: fixed;
    align-content: center;
}

.itemMenu {
    font-size: 20px;
    display: block;
    color: #000000;
    padding-left: 20px;
    padding: 10px 16px;
    text-decoration: none;
}

.dropDown{
    position: relative;
    display:inline-block;
    float: left;
}

.menuLink{
    color: darkblue;
    text-decoration: none;
}

.itemMenu:hover {
    background-color: #0044ff;
    color: navajowhite;
    
    
}

.itemMenu:hover .menuLink{
    color:antiquewhite;
}


.dropDownContent{
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropDown:hover .dropDownContent{
    display: block;
}

/* SECTIONS */


section {
    margin: 35px;
    display:flow-root;
    position:relative;  
    display: block;
    
}

section article{
    font-family: cursive;
    font-size: 103%;
    position: inherit;
    display: inherit;
    float: left;
    width: 70%;
    background-image: url(Poze/blueish_gradient.jpg);

}

section img {
    position: inherit;
    float: left;
    width: auto;
    display: inherit;
    vertical-align: middle;
}

#doi {
    float: right;
}


footer {
    position: absolute;
    bottom: 0;

}